---
- name: Thunar
  tags:
    - thunar
  block:
    - name: Install
      ansible.builtin.dnf:
        name:
          - Thunar
          - thunar-archive-plugin
          - thunar-volman
        state: present
      become: true

    - name: Check if directory exists
      ansible.builtin.stat:
        path: "{{ ansible_user_dir }}/.local/share/dbus-1/services/"
      register: dbus_dir

    # mkdir -p "$HOME/.local/share/dbus-1/services/"
    - name: "Create dbus-1 services directory ({{ ansible_user_dir }}/.local/share/dbus-1/services)"
      ansible.builtin.file:
        path: "{{ ansible_user_dir }}/.local/share/dbus-1/services"
        state: directory
        mode: '0755'
        recurse: true
      when: not dbus_dir.stat.exists

    # ln -s /usr/share/dbus-1/services/org.xfce.Thunar.FileManager1.service $HOME/.local/share/dbus-1/services/org.freedesktop.FileManager1.service
    - name: Symlink dbus-1 service
      ansible.builtin.file:
        src: "/usr/share/dbus-1/services/org.xfce.Thunar.FileManager1.service"
        dest: "{{ ansible_user_dir }}/.local/share/dbus-1/services/org.freedesktop.FileManager1.service"
        state: link

    # xdg-mime default thunar.desktop inode/directory
    - name: Set default mime for inode/directory
      ansible.builtin.command:
        cmd: xdg-mime default thunar.desktop inode/directory

