---
- name: Install generic devel deps
  ansible.builtin.dnf:
    name:
      - tidy # https://github.com/htacg/tidy-html5
      - just # https://github.com/casey/just: A command runner: just is a handy way to save and run project-specific commands.
      - go-task # https://taskfile.dev/
      - lnav # Log file navigator: https://github.com/tstack/lnav
      - xxd
      - python3-pywatchman # https://facebook.github.io/watchman/docs/watchman-make
      - entr # https://github.com/eradman/entr
      - asciinema # Terminal session recorder: https://github.com/asciinema/asciinema
      - reuse # https://github.com/fsfe/reuse-tool: reuse is a tool for compliance with the REUSE recommendations.
      - proselint # A python3 linter for English prose
      - codespell # Fix common misspellings in text files
      - gitlint # Git commit message linting tool
      - b4 # B4 is a helper utility to work with patches made available via a public-inbox archive like lore.kernel.org. It is written to make it easier to participate in a patch-based workflows, like those used in the Linux kernel development.
    state: present
  become: true
  tags:
    - devel
    - neovim
    - neovim-runtime

- name: Install additional GO tools
  ansible.builtin.shell: |
    # pprof: https://github.com/google/pprof
    # pprof is a tool for visualization and analysis of profiling data.
    go install github.com/google/pprof@latest

    # The program ensures source code files have copyright license headers by
    # scanning directory patterns recursively.
    # It modifies all source files in place and
    # avoids adding a license header to any file that already has one.
    go install github.com/google/addlicense@latest

    # Slides presentation in the terminal from Markdown
    go install github.com/maaslalani/slides@latest
  tags: devel


# - name: Install additional Rust tools (CARGO)
#   community.general.cargo:
#     name:
#       - jless
#     state: latest
#   tags:
#     - devel
#     - jless

