- name: Gramma
  tags:
    - gramma
  block:
    - name: Symlink additional config files
      ansible.builtin.file:
        src: "{{ item }}"
        dest: "{{ ansible_user_dir }}/.config/{{ item | basename }}"
        state: link
        force: true
      loop:
        - "{{ role_path }}/files/config/gramma"

