---
- name: Install
  ansible.builtin.dnf:
    name:
      - openssl
      - nano
      - direnv
      - openssh
      - polkit
      - sqlite
      - wget
      - curl
      - httpie
      - rclone
      - restic # Modern backup program with support for rclone (Cloud based backups)
      - rsync
      - jq
      - yq
      - rsync
      - p7zip
      - p7zip-plugins
      - unrar
      - unzip
      - atool # atool is a script for managing file archives of various types (tar,tar+gzip, zip etc)
      - make
      - automake
      - gcc
      - gcc-c++
      - kernel-devel
      - python3-pip
      - bat
      - eza
      - tree
      - fd-find
      - htop
      - btop
      - nvtop
      - net-tools
      - lm_sensors
      - ffmpeg
      - speedtest-cli
      - zbar # QR Code reader
      - qrencode # QR Code encoder
      - openldap-clients
      - calc # Arbitrary precision C-like calculator
      - p11-kit
      - inotify-tools
      - miller # Miller is a command-line tool for querying, shaping, and reformatting data files in various formats including CSV, TSV, JSON, and JSON Lines.
      - ncdu # ncdu (NCurses Disk Usage) is a curses-based version of the well-known 'du', and provides a fast way to see what directories are using your disk space.
      - aspell
      - aspell-it
      - hunspell
      - hunspell-it
      - fuse-sshfs # Mount remote ssh/sftp servers  as a filsystem in userspace (FUSE)
      - squashfs  # Required to run AppImages
      - figlet #  A program for making large letters out of ordinary text
      - visidata # (vd) Terminal interface for exploring and arranging tabular data (https://www.visidata.org/)
      - rlwrap # Wrapper for GNU readline

      - krb5-workstation
      - krb5-libs
      - krb5-devel
      - gssntlmssp # A GSSAPI Mechanism that implements NTLMSSP
    state: present
  become: true
  tags:
    - core-pkgs


- name: Uninstall unwanted packages
  ansible.builtin.dnf:
    name:
      - plocate # Plocate is a package that allows to use the command `locate` to quickly find files (as opposed to find). It works by employing a database built at boot-time (plocate-updatedb.service). This service usually slows down boot time by quite a lot
      - abrt
      - abrt-addon-ccpp
      - abrt-addon-kerneloops
      - abrt-addon-pstoreoops
      - abrt-addon-vmcore
      - abrt-addon-xorg
      - abrt-cli
      - abrt-dbus
      - abrt-desktop
      - abrt-gui
      - abrt-gui-libs
      - abrt-libs
      - abrt-plugin-bodhi
      - abrt-tui
    state: absent

  become: true
  tags:
    - core-pkgs

- name: Install sad (https://github.com/ms-jpq/sad)
  ansible.builtin.unarchive:
    src: https://github.com/ms-jpq/sad/releases/latest/download/x86_64-unknown-linux-gnu.zip
    dest: "{{ ansible_user_dir }}/.local/bin"
    remote_src: true
  tags:
    - core-pkgs
    - sad

- name: Symlink config files
  ansible.builtin.file:
    src: "{{ item }}"
    dest: "{{ ansible_user_dir }}/.config/{{ item | basename }}"
    state: link
  loop:
    - "{{ role_path }}/files/direnv"
    - "{{ role_path }}/files/bat"
    - "{{ role_path }}/files/nano"
    - "{{ role_path }}/files/readline"
    - "{{ role_path }}/files/wgetrc"
  tags:
    - core-pkgs
