---
- name: hyprland
  tags:
    - never
    - hyprland
  block:
    - name: Install
      ansible.builtin.dnf:
        name:
          - cliphist
          # - hyprland       # Unfortunately, was removed in Fedora 43 (It was present in Fedora 42)
          - hyprlock.x86_64
          - hypridle.x86_64
          - hyprcursor.x86_64
          - xdg-desktop-portal-hyprland
          - waybar
          - wl-clipboard
          - swaybg
          - swaylock
          - swayidle
          - sway-systemd
          - sway-wallpapers
          - SwayNotificationCenter
          - fuzzel
        state: present
      become: true


    - name: Symlink hyprland config
      ansible.builtin.file:
        src: "{{ role_path }}/files/hypr"
        dest: "{{ ansible_user_dir }}/.config/hypr"
        state: link
        force: true

    - name: Symlink waybar hyprland config
      ansible.builtin.file:
        src: "{{ role_path }}/files/waybar/hyprland"
        dest: "{{ ansible_user_dir }}/.config/waybar-hyprland"
        state: link
        force: true
