[diff]
always=True

[privilege_escalation]
become=False
become_ask_pass=False
become_method=sudo

[defaults]
private_role_vars=True
ask_vault_pass=False
localhost_warning=False
inventory_unparsed_warning=False
vault_password_file=vault_pass.txt
home=$XDG_DATA_HOME/ansible
cache_dir=$XDG_DATA_HOME/ansible/galaxy_cache
local_tmp=$XDG_DATA_HOME/ansible/tmp
remote_tmp=$XDG_DATA_HOME/ansible/tmp
