lombok.addLombokGeneratedAnnotation = true

# See: https://stackoverflow.com/a/67042439: Best practice for @Value fields, Lombok, and Constructor Injection?
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
lombok.copyableannotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableannotations += org.springframework.beans.factory.annotation.Autowired

