---
- name: Install
  ansible.builtin.dnf:
    name:
      - xset
      - xprop
      - xsetroot
      - xsettingsd
      - xss-lock
      - xsecurelock
      - wmctrl
      - arandr
      - autorandr
    state: present
  become: true
  tags:
    - xorg
    - apt

- name: Symlink config
  ansible.builtin.file:
    src: "{{ role_path }}/files"
    dest: "{{ ansible_user_dir }}/.config/xorg"
    state: link
  tags:
    - xorg

- name: Symlink startx script
  ansible.builtin.file:
    src: "{{ item }}"
    dest: "{{ ansible_user_dir }}/.local/bin/{{ item | basename }}"
    state: link
  loop:
    - "{{ role_path }}/files/startx"
  tags:
    - xorg
