---
- name: Check latest lazygit
  ansible.builtin.uri:
    url: https://api.github.com/repos/jesseduffield/lazygit/releases/latest
    return_content: true
  register: lazygit_latest
  tags:
    - git
    - lazygit

- name: Create install dir
  ansible.builtin.file:
    path: "/opt/lazygit"
    state: directory
    mode: "0755"
  become: true
  tags:
    - git
    - lazygit

- name: Download and unpack latest lazygit
  ansible.builtin.unarchive:
    src: "https://github.com/jesseduffield/lazygit/releases/latest/download/lazygit_{{ lazygit_latest['json']['tag_name'][1:] }}_Linux_x86_64.tar.gz"
    dest: /opt/lazygit
    remote_src: yes
  become: true
  tags:
    - git
    - lazygit

- name: Symlink binaries
  ansible.builtin.file:
    src: /opt/lazygit/lazygit
    dest: /usr/local/bin/lazygit
    state: link
  become: true
  tags:
    - git
    - lazygit

- name: Symlink config
  ansible.builtin.file:
    src: "{{ role_path }}/files"
    dest: "{{ ansible_user_dir }}/.config/lazygit"
    state: link
  tags:
    - git
    - lazygit
