---
- name: Sniffnet
  tags:
    - never
    - sniffnet
  block:
    - name: Install build deps
      ansible.builtin.dnf:
        name:
          - fontconfig-devel
        state: present
      become: true

    - name: Install sniffnet (CARGO)
      community.general.cargo:
        name:
          - sniffnet
        state: latest
