---
- name: Wayland
  tags:
    - wayland
  block:
  - name: Install
    ansible.builtin.dnf:
      name:
        - wayland-utils
        - xdg-desktop-portal-wlr
        - wl-clipboard
        - foot
        - cliphist
      state: present
    become: true
