---
- name: Wayland
  tags:
    - wayland
  block:
  - name: Install
    ansible.builtin.dnf:
      name:
        - wayland-utils
        - xdg-desktop-portal-wlr
        - wl-clipboard
        - foot
        - cliphist
        - swappy # Wayland native snapshot editing tool, inspired by Snappy on macOS
        # - nwg-bar # GTK3-based button bar for wlroots-based compositors
        # - nwg-dock # GTK3-based dock for sway
        # - nwg-dock-hyprland # GTK3-based dock for Hyprland
        # - nwg-drawer # Application drawer for wlroots-based Wayland compositors
        # - nwg-launchers # GTK-based launchers for sway and other window managers
        # - nwg-look # GTK3 settings editor adapted to work in the wlroots environment
        # - nwg-panel # GTK3-based panel for sway and Hyprland Wayland compositors
        # - nwg-wrapper # GTK3 wrapper to display text on the desktop for wlroots
      state: present
    become: true

  - name: Create global directory for wallapers
    ansible.builtin.file:
      path: "{{ item }}"
      state: directory
      mode: '0755'
      recurse: yes
    loop:
      - /usr/local/share/wallpapers/Next/contents/images/
      - /usr/local/share/wallpapers/Next/contents/images_dark/
    become: True

  - name: Fetch Plasma Breeze Sub-Arctic wallaper (light)
    ansible.builtin.get_url:
      dest: "/usr/local/share/wallpapers/Next/contents/images/Sub-Arctic-5120x2880.png"
      url: "https://invent.kde.org/plasma/breeze/-/raw/991d2d6b40aac4ff53531c0d3de7cd7f02b7ee83/wallpapers/Next/contents/images/5120x2880.png"
      mode: "0644"
    ignore_errors: true
    become: True


  - name: Fetch Plasma Breeze Sub-Arctic wallaper (dark)
    ansible.builtin.get_url:
      dest: "/usr/local/share/wallpapers/Next/contents/images_dark/Sub-Arctic-5120x2880.png"
      url: "https://invent.kde.org/plasma/breeze/-/raw/991d2d6b40aac4ff53531c0d3de7cd7f02b7ee83/wallpapers/Next/contents/images_dark/5120x2880.png"
      mode: "0644"
    ignore_errors: true
    become: True
