#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Hoppscotch
MimeType=x-scheme-handler/web+hopp;x-scheme-handler/web+hoppscotch
Exec=/opt/brave.com/brave/brave-browser --profile-directory=Default --app-id=ajamoobebmdhjjmdelngengkpklcimmg %U
Icon=brave-ajamoobebmdhjjmdelngengkpklcimmg-Default
StartupWMClass=crx_ajamoobebmdhjjmdelngengkpklcimmg
