#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=IT Tools
Exec=/opt/brave.com/brave/brave-browser --profile-directory=Default --app-id=gljbimlelhehejbemdbabionggbdfedo
Icon=brave-gljbimlelhehejbemdbabionggbdfedo-Default
StartupWMClass=crx_gljbimlelhehejbemdbabionggbdfedo
