#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=diagrams.net
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=ilmgmogedobmcfegdjcibiiaodmdenpf
Icon=chrome-ilmgmogedobmcfegdjcibiiaodmdenpf-Default
StartupWMClass=crx_ilmgmogedobmcfegdjcibiiaodmdenpf
