---
- name: Maven
  tags:
    - maven
  block:
    - name: Create target dir
      ansible.builtin.file:
        path: "{{ maven_install_dir }}"
        state: directory
        mode: "0755"

    - name: Download and unpack
      ansible.builtin.unarchive:
        src: https://dlcdn.apache.org/maven/maven-3/{{ maven_version }}/binaries/apache-maven-{{ maven_version }}-bin.tar.gz
        dest: "{{ maven_install_dir }}"
        remote_src: true

    - name: Symlink maven binaries
      ansible.builtin.file:
        src: "{{ item }}"
        dest: "{{ ansible_user_dir }}/.local/bin/{{ item | basename }}"
        state: link
      loop:
        - "{{ maven_install_dir }}/apache-maven-{{ maven_version }}/bin/mvn"
        - "{{ maven_install_dir }}/apache-maven-{{ maven_version }}/bin/mvnDebug"
        - "{{ maven_install_dir }}/apache-maven-{{ maven_version }}/bin/mvnyjp"


    - name: Create config dir
      ansible.builtin.file:
        path: "{{ ansible_user_dir }}/.config/maven"
        state: directory
        mode: "0755"

    - name: Symlink config
      ansible.builtin.file:
        src: "{{ role_path }}/files/{{ item }}"
        dest: "{{ ansible_user_dir }}/.config/maven/{{ item }}"
        state: link
      loop:
        - settings_global.xml
        - settings_local_default.xml
        - templates

    - name: Symlink default config
      ansible.builtin.file:
        src: "{{ ansible_user_dir }}/.config/maven/settings_local_default.xml"
        dest: "{{ ansible_user_dir }}/.config/maven/settings_local.xml"
        state: link

    - name: Create items
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        mode: "0755"
      loop:
        - "{{ ansible_user_dir }}/.cache/maven/repository"
        - "{{ ansible_user_dir }}/.local/share/java/.m2"

    - name: Symlink items
      ansible.builtin.file:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        state: link
        force: true
      loop:
        - src: "{{ ansible_user_dir }}/.config/maven/settings_global.xml"
          dest: "{{ maven_install_dir }}/apache-maven-{{ maven_version }}/conf/settings.xml"
        - src: "{{ ansible_user_dir }}/.cache/maven/repository"
          dest: "{{ ansible_user_dir }}/.local/share/java/.m2/repository"
        - src: "{{ ansible_user_dir }}/.config/maven/settings_local.xml"
          dest: "{{ ansible_user_dir }}/.local/share/java/.m2/settings.xml"
