---
- name: Zed
  tags:
    - zed
  block:
    - name: Install
      ansible.builtin.dnf:
        name:
          - zed
        state: present
      become: true

    - name: Symlink config
      ansible.builtin.file:
        src: "{{ role_path }}/files/config"
        dest: "{{ ansible_user_dir }}/.config/zed"
        state: link
