---
- name: Install
  ansible.builtin.dnf:
    name:
      - adwaita-icon-theme
      - breeze-icon-theme
      - breeze-cursor-theme
    state: present
  become: true
  tags:
    - apt
    - gtk
    - gtk-theme

- name: Clean configs
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
    - "{{ ansible_user_dir }}/.config/gtk-2.0"
    - "{{ ansible_user_dir }}/.config/gtk-3.0"
    - "{{ ansible_user_dir }}/.config/gtk-4.0"
  tags:
    - gtk
    - gtk-theme

- name: Unpack phinger-cursors
  ansible.builtin.unarchive:
    src: https://github.com/phisch/phinger-cursors/releases/latest/download/phinger-cursors-variants.tar.bz2
    dest: /usr/share/icons/
    remote_src: True
  become: True
  tags:
    - gtk
    - gtk-theme
    - cursor-theme
    - phinger-cursors


- name: Symlink config
  ansible.builtin.file:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    state: link
    force: true
  loop:
    - {
        src: "{{ role_path }}/files/gtk-2.0",
        dest: "{{ ansible_user_dir }}/.config/gtk-2.0",
      }
    - {
        src: "{{ role_path }}/files/gtk-3.0",
        dest: "{{ ansible_user_dir }}/.config/gtk-3.0",
      }
    - {
        src: "{{ role_path }}/files/gtk-4.0",
        dest: "{{ ansible_user_dir }}/.config/gtk-4.0",
      }
  tags:
    - gtk
    - gtk-theme


- name: Update x-cursor-theme alternatives
  ansible.builtin.lineinfile:
    path: /etc/alternatives/x-cursor-theme
    line: "Inherits=Breeze"
    regexp: "^Inherits"
    create: true
  become: true
  tags:
    - gtk
    - gtk-theme

- name: gtk-4.0 Prefer dark mode
  ansible.builtin.shell: gsettings set org.gnome.desktop.interface color-scheme prefer-dark
  ignore_errors: true
  tags:
    - gtk
    - gtk-theme
