{% extends "head.xml.j2" %}

{% block main %}

<pluginGroups>
    <!-- https://docs.sonarqube.org/9.6/analyzing-source-code/scanners/sonarscanner-for-maven/ -->
    <pluginGroup>org.sonatype.plugins</pluginGroup>
    <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
    {% block pluginGroups %}{% endblock %}
</pluginGroups>

<profiles>
    <!-- Activate by using `mvn -P local ...` -->
    <profile>
        <id>local</id>
        <activation>
            <activeByDefault>true</activeByDefault>
        </activation>
        <properties>
            <downloadSources>true</downloadSources>
            <downloadJavadocs>false</downloadJavadocs>
            <!-- Equivalent to `java -jar ... -Dspring.profiles.active=local ...` command line
            argument` -->
            <spring.profiles.active>local</spring.profiles.active>
            <!-- Equivalent to -DtrimStackTrace=false
                    Makes `mvn test` (surefire:test plugin) display the full stacktrace on error.
                    Useful to trace the real cause of the error
                See:
                - https://maven.apache.org/surefire/maven-surefire-plugin/test-mojo.html#trimStackTrace
                - https://stackoverflow.com/questions/2928548/make-mavens-surefire-show-stacktrace-in-console
            -->
            <trimStackTrace>false</trimStackTrace>
            <sonar.jacoco.reportPath>${project.basedir}/../target/jacoco.exec</sonar.jacoco.reportPath>
        </properties>
    </profile>
    {% block profiles %}{% endblock %}
</profiles>

<mirrors>
{% block mirrors %}{% endblock %}
</mirrors>

{% endblock %}