[Unit]
Description=i3 window manager
PartOf=graphical-session.target
After=xsession.target
Wants=xsession.target

[Service]
Type=notify
ExecStart=i3
ExecReload=i3-msg reload
ExecStopPost=systemctl --user stop --no-block graphical-session.target
Restart=on-failure
