[Unit]
Description=Update mpd music library
PartOf=graphical-session.target
Wants=mpd.service
After=mpd.service

[Service]
Type=oneshot
ExecStart=mpc update
