[Unit]
Description=Simple X Hotkey Daemon (sxhkd)
PartOf=graphical-session.target

[Service]
ExecStart=sxhkd
ExecReload=kill -USR1 $MAINPID
Restart=on-failure
