[Unit]
Description=X session
BindsTo=graphical-session.target
Wants=graphical-session-pre.target
After=graphical-session-pre.target

Wants=systemd-inhibit-power-key.service
Wants=xdg-desktop-autostart.target

Wants=dbus.session
Wants=dbus.socket
Wants=pipewire.service
Wants=pipewire-pulse.service

Wants=dunst.service
Wants=policykit-agent.service
Wants=xsettingsd.service
Wants=xss-lock.service
Wants=background-setter.service
Wants=xrdb-load.service
Wants=i3-battery-notifier.service

Wants=picom.service
# Wants=redshift.service

##
## MPD
##
# Wants=mpd.service
# Wants=mpd-notification.service
# Wants=mpc-update.service


## Not needed: covered by gnome-keyring-daemon enabled by default at login
# Wants=ssh-agent.service
# Wants=gpg-agent.service
# Wants=gpg-agent.socket
# Wants=gpg-agent-extra.socket
# Wants=gpg-agent-browser.socket
# Wants=gpg-agent-ssh.socket
