---
CompileFlags:
  Add:
    - -Wall
    - -Wextra
    - -Wunreachable-code
    - -Wunreachable-code-aggressive


InlayHints:
  Enabled: false
  Designators: false
  ParameterNames: false
  DeducedTypes: false

Style:
  FullyQualifiedNamespaces:
      - std


Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    CheckOptions:
      readability-identifier-naming.VariableCase: lower_case
    Remove:
      - "*"
    Add:
      - clang-diagnostic-*
      - clang-analyzer-*
      - clang-analyzer-cplusplus-*
      - cppcoreguidelines-*
      - bugprone-*
      - concurrency-*
      - performance-*
      - portability-*
      - readability-*
      - misc-*
