---
- name: Docker
  tags:
    - never
    - docker
    - podman
  when: ansible_env.RUNNING_INSIDE_DOCKER is undefined
  block:
    # dnf config-manager --add-repo https://download.docker.com/linux/fedora/docker-ce.repo
    - name: Enable docker repository
      ansible.builtin.copy:
        dest: /etc/yum.repos.d/microsoft-edge.repo
        content: |
          [docker-ce-stable]
          name=Docker CE Stable - $basearch
          baseurl=https://download.docker.com/linux/fedora/$releasever/$basearch/stable
          enabled=1
          gpgcheck=1
          gpgkey=https://download.docker.com/linux/fedora/gpg

          [docker-ce-stable-source]
          name=Docker CE Stable - Sources
          baseurl=https://download.docker.com/linux/fedora/$releasever/source/stable
          enabled=0
          gpgcheck=1
          gpgkey=https://download.docker.com/linux/fedora/gpg

          [docker-ce-test]
          name=Docker CE Test - $basearch
          baseurl=https://download.docker.com/linux/fedora/$releasever/$basearch/test
          enabled=0
          gpgcheck=1
          gpgkey=https://download.docker.com/linux/fedora/gpg

          [docker-ce-test-source]
          name=Docker CE Test - Sources
          baseurl=https://download.docker.com/linux/fedora/$releasever/source/test
          enabled=0
          gpgcheck=1
          gpgkey=https://download.docker.com/linux/fedora/gpg
        mode: "0644"
      become: true
      when: not podman_docker_emulation


    - name: Install Docker
      ansible.builtin.dnf:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-buildx-plugin
          - docker-compose-plugin
          # - golang-github-docker-credential-helpers-devel # Integration with credentials helpers to store `docker login` credentials safely (not in plain text)
        state: present
      become: true
      when: not podman_docker_emulation

    - name: Install Podman
      ansible.builtin.dnf:
        name:
          - podman
          - podman-tui
        state: present
      become: true
      when: podman_docker_emulation

    - name: Change docker daemon config (data-root)
      ansible.builtin.copy:
        dest: /etc/docker/daemon.json
        content: |
          {
            "data-root": "/var/lib/docker"
          }
        mode: "0644"
      become: true

    - name: Enable docker socket (starts dockerd service lazily when invoked)
      ansible.builtin.systemd:
        name: docker.socket
        enabled: "{{ not podman_docker_emulation }}"
      become: true
      when: ansible_env.RUNNING_INSIDE_DOCKER is undefined and podman_docker_emulation

    - name: Append docker group to user {{ ansible_env.USER }}
      ansible.builtin.user:
        name: "{{ ansible_env.USER }}"
        append: true
        groups:
          - docker
      become: true
      when: not podman_docker_emulation

# - name: Symlink docker config
#   ansible.builtin.file:
#     src: "{{ item }}"
#     dest: "{{ ansible_user_dir }}/.config/{{ item | basename }}"
#     state: link
#   loop:
#     - "{{ role_path }}/files/config/docker"
#   tags:
#     - podman
#     - podman-desktop
#     - docker

    - name: Install podman-docker
      ansible.builtin.dnf:
        name:
          - podman
          - podman-tui
          - podman-docker
          - podman-compose
        state: present
      become: true
      when: podman_docker_emulation

    - name: Enable podman service
      ansible.builtin.systemd:
        name: podman
        enabled: "{{ podman_docker_emulation }}"
      become: true
      when: ansible_env.RUNNING_INSIDE_DOCKER is undefined and podman_docker_emulation
#
    - name: Add host entry for host.docker.internal
      ansible.builtin.lineinfile:
        dest: /etc/hosts
        regexp: '^{{ item.ip }}\s+{{ item.hostname }}'
        line: "{{ item.ip }} {{ item.hostname }}"
        state: present
      become: True
      loop:
        - ip: 172.17.0.1
          hostname: host.docker.internal
        - ip: 127.0.0.1
          hostname: kubernetes.docker.internal
