---
- name: Yum Repos
  tags:
    - fedora
    - yum_repos
    - yum.repos.d
    - rpmfusion
  when: ansible_distribution == 'Fedora'
  block:
    # Make sure fedora.repo and fedora-cisco-openh264.repo are installed
    - name: Enable Fedora repos
      ansible.builtin.dnf:
        name:
          - fedora-repos
        state: present
      become: true

    # See https://docs.fedoraproject.org/en-US/workstation-working-group/third-party-repos/#_included_software
    - name: Manage third party repositories
      ansible.builtin.dnf:
        name:
          - fedora-workstation-repositories
          - fedora-flathub-remote
        state: absent
      become: True

    - name: Enable the RPM Fusion repository for {{ ansible_distribution ~ ' ' ~ ansible_distribution_major_version }}
      ansible.builtin.dnf:
        name:
          - https://mirrors.rpmfusion.org/free/fedora/rpmfusion-free-release-{{ ansible_distribution_major_version }}.noarch.rpm
          - https://mirrors.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-{{ ansible_distribution_major_version }}.noarch.rpm
        state: latest
      become: true

    # dnf install --nogpgcheck --repofrompath 'terra,https://repos.fyralabs.com/terra$releasever' terra-release
    - name: Add Terra repository
      ansible.builtin.yum_repository:
        name: terra
        description: Terra repository
        baseurl: https://repos.fyralabs.com/terra$releasever
        gpgcheck: false
        enabled: true
      become: true
    - name: Install terra-release
      ansible.builtin.dnf:
        name: terra-release
        state: present
      become: true

    - name: Delete unused repositories
      ansible.builtin.file:
        path: /etc/yum.repos.d/{{ item }}
        state: absent
      become: true
      loop:
        - _copr_phracek-PyCharm.repo
        - _copr:copr.fedorainfracloud.org:phracek:PyCharm.repo
        - _copr_phracek-PyCharm.repo.rpmsave
        - rpmfusion-nonfree-nvidia-driver.repo
        - rpmfusion-nonfree-steam.repo

