---
- name: Sway
  tags:
    - sway
  block:
    - name: Install
      ansible.builtin.dnf:
        name:
          - cliphist
          - sway
          - swayidle
          - sway-config-fedora           # Provides base configuration and  desktop session files for fedora. See /usr/share/sway/config.d/*. Provides also executable script start-sway
          # - sway-config-upstream
          - waybar
          - wl-clipboard
          - swaybg
          - swaylock
          - swayidle
          - sway-systemd
          - sway-wallpapers
          - SwayNotificationCenter
          - fuzzel
          - lxqt-policykit
          - brightnessctl
          - playerctl
        state: present
      become: true

    - name: Symlink config
      ansible.builtin.file:
        src: "{{ item }}"
        dest: "{{ ansible_user_dir }}/.config/{{ item | basename }}"
        state: link
        force: true
      loop:
        - "{{ role_path }}/files/sway"
        - "{{ role_path }}/files/waybar/sway"

