---
- name: Sway
  tags:
    - sway
  block:
    - name: Install
      ansible.builtin.dnf:
        name:
          - cliphist
          - sway
          - swayidle
          - sway-config-fedora           # Provides base configuration and  desktop session files for fedora. See /usr/share/sway/config.d/*. Provides also executable script start-sway
          # - sway-config-upstream
          - waybar
          - wl-clipboard
          - swaybg
          - swaylock
          - swayidle
          - sway-systemd
          - sway-wallpapers
          - SwayNotificationCenter
          - fuzzel
          - lxqt-policykit
          - brightnessctl
          - playerctl
          - grimshot
          - SwayOSD # Repository: terra (Not available in stadard repos)
          - swappy # Wayland native snapshot editing tool, inspired by Snappy on macOS
        state: present
      become: true

    - name: Symlink sway config
      ansible.builtin.file:
        src: "{{ role_path }}/files/sway"
        dest: "{{ ansible_user_dir }}/.config/sway"
        state: link
        force: true

    - name: Symlink waybar sway config
      ansible.builtin.file:
        src: "{{ role_path }}/files/waybar/sway"
        dest: "{{ ansible_user_dir }}/.config/waybar-sway"
        state: link
        force: true

    - name: Symlink swaync config
      ansible.builtin.file:
        src: "{{ role_path }}/files/swaync"
        dest: "{{ ansible_user_dir }}/.config/swaync"
        state: link
        force: true
