---
- name: Starship
  tags:
    - starship
  block:
    # - name: Check latest starship
    #   ansible.builtin.uri:
    #     url: https://api.github.com/repos/starship/starship/releases/latest
    #     return_content: true
    #   register: starship_latest
    #
    # - name: Download and unpack latest starship
    #   ansible.builtin.unarchive:
    #     src: https://github.com/starship/starship/releases/download/{{ starship_latest['json']['tag_name'] }}/starship-x86_64-unknown-linux-gnu.tar.gz
    #     dest: "{{ ansible_user_dir }}/.local/bin"
    #     remote_src: true
    #

    - name: Install (Terra repository)
      ansible.builtin.dnf:
        name:
          - starship
        state: present
      become: True

    - name: Symlink config
      ansible.builtin.file:
        src: "{{ role_path }}/files/starship.toml"
        dest: "{{ ansible_user_dir }}/.config/starship.toml"
        state: link
