---
- name: Alacritty
  tags:
    - alacritty
  block:
    - name: Install
      ansible.builtin.dnf:
        name:
          - alacritty
        state: present
      become: true

    - name: Symlink config
      ansible.builtin.file:
        src: "{{ role_path }}/files"
        dest: "{{ ansible_user_dir }}/.config/alacritty"
        state: link
