---
- name: Latex
  tags:
    - tex
    - texlive
    - latex
    - latexmk
  block:
    - name: Install texlive fundamental packages
      ansible.builtin.dnf:
        name:
          # NOTE(d.paro): Schemes and collections are metapackages
          #    https://fedoraproject.org/wiki/Features/TeXLive
          #      Schemes are used for users which don't understand much of TeX but wants a particular type of deployment
          #      The collections are more fine-grained schemes for people who understand TeX a bit and demands some of its feature
          - texlive-scheme-minimal
          # - texlive-base
          # - texlive-collection-fontsrecommended
          # - texlive-collection-latexrecommended
          # - texlive-collection-latexextra
          # - texlive-collection-mathextra
          # - texlive-collection-genericextra
          # - texlive-collection-science
          # - texlive-collection-bibtexextra
          - texlive-unicode-math
          - texlive-babel-italian
          - texlive-babel-english
          - texlive-fontawesome
          - texlive-fontawesome5
          - texlive-hyphenat
          - texlive-moresize
          - texlive-lastpage
          - texlive-bytefield
          - texlive-lm # lmodern
          - texlive-chktex # latex semantic linter: https://www.nongnu.org/chktex/
          - biber
          - latexmk
          - ghostscript
        state: present
      become: true

    - name: Symlink latexmk config
      ansible.builtin.file:
        src: "{{ item }}"
        dest: "{{ ansible_user_dir }}/.config/{{ item | basename }}"
        state: link
      loop:
        - "{{ role_path }}/files/latexmk"
