[Unit]
Description=bspwm window manager
PartOf=graphical-session.target
After=xsession.target
Wants=xsession.target

Wants=sxhkd.service

[Service]
ExecStart=bspwm
ExecReload=bspwm wm -r
ExecStopPre=bspc quit
ExecStopPost=/bin/systemctl --user stop --no-block graphical-session.target
Restart=on-failure
