[Unit]
Description=Local HTTP proxy
PartOf=graphical-session.target

[Service]
ExecStart=%h/.local/bin/mitmweb -p 10000 --web-port 10001 --config=%h/.config/mitmproxy
Restart=on-failure

[Install]
WantedBy=graphical-session.target
