[Unit]
Description=Polybar Panel
PartOf=graphical-session.target

StartLimitInterval=30
StartLimitBurst=5

[Service]
ExecStart=%h/.config/polybar/launch.sh\
ExecReload=bash -c 'killall --quiet --user "$USER" polybar || $HOME/.config/polybar/launch.sh'
; ExecReload=bash -c 'polybar-msg cmd restart || $HOME/.config/polybar/launch.sh'
ExecStop=killall --quiet --user %u polybar

Restart=always
RestartSec=2
