---
- name: Install papis (https://github.com/papis/papis)
  ansible.builtin.pip:
    name:
      - papis
    state: latest
  tags:
    - papis

- name: Symlink config
  ansible.builtin.file:
    src: "{{ role_path }}/files"
    dest: "{{ ansible_user_dir }}/.config/papis"
    state: link
  tags:
    - papis
